# Basic List Operations

1. Create a list of 5 numbers and add a new number to the end.

In [3]:
lst=[10,20,30,40,50]

print("old list ->",lst)

# add new number at the end
lst.append(60)

print("New list ->",lst)

old list -> [10, 20, 30, 40, 50]
New list -> [10, 20, 30, 40, 50, 60]

2. Make a list of fruits and insert a fruit at the second position.

In [5]:
fruits=["Apple","Banana","Kiwi","Orange"]
print(fruits)

# insert a fruit "Mango" at the second index position
fruits.insert(2,"Mango")
print(fruits)

['Apple', 'Banana', 'Kiwi', 'Orange']
['Apple', 'Banana', 'Mango', 'Kiwi', 'Orange']

3. Create a list of names and remove one name from the list.

In [ ]:
name=["Apurva","Jyoti","Prachi","Shruti","Sanika"]
print(name)

# remove shruti from the list
name.remove("Shruti")
print(name)

['Apurva', 'Jyoti', 'Prachi', 'Shruti', 'Sanika']
['Apurva', 'Jyoti', 'Prachi', 'Sanika']

4. Create a list of 4 items and change the value at index 2.

In [10]:
items=[30,54,34,77]

print(items)

# change the value at index of 2
items[2]=100

print(items)

[30, 54, 34, 77]
[30, 54, 100, 77]

5. Make a list of numbers and print only the first three elements.

In [13]:
lst1=[10,20,30,40,50,60,70]

print(lst1)

# print only first three numbers
lst1[0:3]

[10, 20, 30, 40, 50, 60, 70]

[10, 20, 30]

6. Create a list of colors and find the index of a specific color.

In [16]:
colors=["red","blue","black","white","pink"]

print(colors)

colors[3]

['red', 'blue', 'black', 'white', 'pink']

'white'

7. Create a list of 10 numbers and print how many times “5” appears.

In [17]:
num=[1,2,3,4,5,3,4,5,6,7,5,7,5]

num.count(5)

4

8. Make a list of 6 items and delete the item at index 3.

In [ ]:
ls=[10,20,30,40,50,60,70]
print(ls)
# delete the ite, at3 index
ls.pop(3)

print(ls)

[10, 20, 30, 40, 50, 60, 70]
[10, 20, 30, 50, 60, 70]

9. Create a list of animals and add three more animals using extend().

In [21]:
animals=["cat","dog","tiger"]
new_animals=["donky","monky"]
animals.extend(new_animals)
print(animals)

['cat', 'dog', 'tiger', 'donky', 'monky']

10. Create a list and remove the last item using pop().

In [22]:
lst2=[43,45,67,87,98,65]
print(lst2)

lst2.pop()
print(lst2)

[43, 45, 67, 87, 98, 65]
[43, 45, 67, 87, 98]

11. Create a list of prices and sort them in ascending order.

In [ ]:
price=[678,578,987,200,1000,23,5665]

print(price)

# sort the price in ascending
price.sort()
print(price)

[678, 578, 987, 200, 1000, 23, 5665]
[23, 200, 578, 678, 987, 1000, 5665]

12. Make a list of countries and reverse the order of the list.

In [26]:
countries=["India","UK","UAE","Japan","Iran"]

print(countries)

countries.reverse()
print(countries)

['India', 'UK', 'UAE', 'Japan', 'Iran']
['Iran', 'Japan', 'UAE', 'UK', 'India']

13. Create a list of words and check if “apple” is in the list.

In [29]:
words=["apu","apple","car","bike"]

print(words)

print("apple" in words)

['apu', 'apple', 'car', 'bike']
True

14. Create a list of numbers and print the largest and smallest number.

In [31]:
nums=(20,49,10,48,69)
print(nums)

small= min(nums)
large= max(nums)

print("smallest number:",small)
print("largest number:",large)

(20, 49, 10, 48, 69)
smallest number: 10
largest number: 69

15. Make a list of 5 items and print each item using a loop.

In [35]:
countries=["India","UK","UAE","Japan","Iran"]

for i in countries:
    print(i)

India
UK
UAE
Japan
Iran

16. Create two lists and combine them into one list.

In [ ]:
list1=[1,2,3,4]
list2=[5,6,7,8]

# using extends
# list1.extend(list2)
# print(list1)

# using concatination
list1+list2

[1, 2, 3, 4, 5, 6, 7, 8]

17. Make a list and replace the last item with a new value.

In [39]:
mylist=[100,200,300,400,500]

mylist[-1]=1000

print(mylist)

[100, 200, 300, 400, 1000]

18. Create a list of numbers and print only the even numbers.

In [52]:
mylst=[1,2,3,4,5,6,7,8,9]

for i in mylst:
    if i%2 == 0:
        print("Even numbers in list:",i)

Even numbers in list: 2
Even numbers in list: 4
Even numbers in list: 6
Even numbers in list: 8

In [51]:
even_num=[num for num in mylst if num%2==0]

print(even_num)

[2, 4, 6, 8]

19. Create a list and clear all items from the list.

In [42]:
lt=[1,2,3,4,5,6,7,8]

print(lt)
lt.clear()
print(lt)

[1, 2, 3, 4, 5, 6, 7, 8]
[]

20. Create a list of 5 values and copy it into another list.

In [47]:
lst_1=[1,2,3,4,5]
print(lst_1)

lst_2= lst_1.copy()
print(lst_2)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]