### 1. Create a dictionary with 3 key-value pairs (name, age, city).

In [1]:
mydic={"name":"Apurva","Age":24,"City":"Pune"}

print(mydic)

{'name': 'Apurva', 'Age': 24, 'City': 'Pune'}

### 2. Create a dictionary and print the value of a specific key.

In [3]:
print(mydic)

mydic["name"]

{'name': 'Apurva', 'Age': 24, 'City': 'Pune'}

'Apurva'

### 3. Create a list of 5 numbers and print the second element.

In [4]:
lst=[1,2,3,4,5,6]
print(lst)
lst[2]

[1, 2, 3, 4, 5, 6]

3

### 4. Add an element "banana" to an existing list.

In [8]:
fruits=["Apple","Kiwi","pineapple"]

print(fruits)

fruits.append("Banana")

print(fruits)

['Apple', 'Kiwi', 'pineapple']
['Apple', 'Kiwi', 'pineapple', 'Banana']

### 5. Insert "apple" at index 2 in a list.

In [10]:
fruit=["Kiwi","pineapple","papaya"]

print(fruit)

fruit.insert(2,"Apple")

print(fruit)

['Kiwi', 'pineapple', 'papaya']
['Kiwi', 'pineapple', 'Apple', 'papaya']

### 6. Remove the element 10 from a list.

In [11]:
lst1=[20,30,40,10,70]

print(lst1)

lst1.remove(10)

print(lst1)

[20, 30, 40, 10, 70]
[20, 30, 40, 70]

### 7. Create a tuple with 4 elements and print the last one.

In [ ]:
tup=(10,20,30,40)

print(tup)

print(tup[-1])

(10, 20, 30, 40)
40

### 8. Convert a tuple into a list.

In [17]:
mytp=(10,20,30,40,50)

print(type(mytp))
print(mytp)

mylist=list(mytp)
print(type(mylist))
print(mylist)

<class 'tuple'>
(10, 20, 30, 40, 50)
<class 'list'>
[10, 20, 30, 40, 50]

### 9. Find the length of a given tuple.

In [21]:
print(mytp)

# mytp.__len__()

print(len(mytp))

(10, 20, 30, 40, 50)
5

### 10. Store 5 student names in a list and print them using a loop.

In [22]:
name=["Apurva","Sangram","Suyash","Sanika","Ram"]

print(name)

for i in name:
    print(i)

['Apurva', 'Sangram', 'Suyash', 'Sanika', 'Ram']
Apurva
Sangram
Suyash
Sanika
Ram

### 11. Create two lists and concatenate them.

In [23]:
lt1=[1,2,3,4]
lt2=[5,6,7,8]

lt1+lt2

[1, 2, 3, 4, 5, 6, 7, 8]

### 12. Reverse a list without using reverse().

In [24]:
lst2=[100,200,300,400,500,600]

print(lst2)

print(lst2[::-1])

[100, 200, 300, 400, 500, 600]
[600, 500, 400, 300, 200, 100]

### 13. Sort a list in descending order.

In [27]:
lst3=[33,56,22,89,65,12,1,0,200]

print(lst3)

lst3.sort()

print(lst3)

[33, 56, 22, 89, 65, 12, 1, 0, 200]
[0, 1, 12, 22, 33, 56, 65, 89, 200]

### 14. Create a set with 5 numbers and add a new number.

In [31]:
st={10,20,30,40,50}

print(st)

st.add(60)

print(st)

{50, 20, 40, 10, 30}
{50, 20, 40, 10, 60, 30}

### 15. Remove an element from a set using discard().

In [32]:
print(st)

st.discard(50)

print(st)

{50, 20, 40, 10, 60, 30}
{20, 40, 10, 60, 30}

### 16. Find the union of two sets.

In [34]:
st1={1,2,3,4,5}
st2={4,5,6,7,8}

print(st1)
print(st2)

st1.union(st2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

{1, 2, 3, 4, 5, 6, 7, 8}

### 17. Find the intersection of two sets.

In [35]:
print(st1)

print(st2)

st1.intersection(st2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

{4, 5}

### 18. Check if a value exists in a set.

In [37]:
st3={30,49,20,10,39}

print(30 in st3)

print(40 in st3)

True
False

### 19. Create a set and clear all elements.

In [38]:
set1={10,20,30,40,50}

print(set1)

set1.clear()

print(set1)

{50, 20, 40, 10, 30}
set()

### 20. Convert a list with duplicate values into a set.

In [43]:
lst4=[1,2,3,4,5,5,6,3,4,2,7]

print(lst4)

print(type(lst4))
st4=set(lst4)

print(st4)
print(type(st4))

[1, 2, 3, 4, 5, 5, 6, 3, 4, 2, 7]
<class 'list'>
{1, 2, 3, 4, 5, 6, 7}
<class 'set'>

### 21. Create a dictionary and update the value of a key.

In [58]:
dic={"car":"Audi","year":2024}

print(dic)

dic.update({"model":"Q3"})

print(dic)

{'car': 'Audi', 'year': 2024}
{'car': 'Audi', 'year': 2024, 'model': 'Q3'}

### 22. Delete a key-value pair from a dictionary.

In [59]:
print(dic)

dic.pop("year")

print(dic)

del dic["model"]

print(dic)

{'car': 'Audi', 'year': 2024, 'model': 'Q3'}
{'car': 'Audi', 'model': 'Q3'}
{'car': 'Audi'}

### 23. Print all keys of a dictionary.

In [60]:
dic1={"Stud_name":"Apurva","Age":24,"Marks":90,"Subject":"Data science"}

print(dic1)

dic1.keys()

{'Stud_name': 'Apurva', 'Age': 24, 'Marks': 90, 'Subject': 'Data science'}

dict_keys(['Stud_name', 'Age', 'Marks', 'Subject'])

### 24. Print all values of a dictionary.

In [61]:
print(dic1)

dic1.values()

{'Stud_name': 'Apurva', 'Age': 24, 'Marks': 90, 'Subject': 'Data science'}

dict_values(['Apurva', 24, 90, 'Data science'])

### 25. Loop through a dictionary and print key and value.

In [65]:
dic1={"Stud_name":"Apurva","Age":24,"Marks":90,"Subject":"Data science"}

print(dic1)

for keys,values in dic1.items():
    print(keys,":",values)

{'Stud_name': 'Apurva', 'Age': 24, 'Marks': 90, 'Subject': 'Data science'}
Stud_name : Apurva
Age : 24
Marks : 90
Subject : Data science

### 26. Create a list of numbers and print only even numbers.

In [67]:
num=[1,2,3,4,5,6,7,8,9,10,11,12,13,14]

print(num)

for i in num:
    if i%2==0:
        print(i)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
2
4
6
8
10
12
14

In [69]:
print([i for i in num if i%2==0])

[2, 4, 6, 8, 10, 12, 14]

### 27. Create a tuple and unpack it into 3 variables.

In [70]:
tp=(1,2,3,4,5,6)

a, b, *c=tp

print(a)
print(b)
print(c)

1
2
[3, 4, 5, 6]

### 28. Check if a number is greater than 10 using a comparison operator.

In [72]:
no=15
if no >10:
    print("no is greatertha 10")
else:
    print("no is less than 10")

no is greatertha 10

### 29. Use the in operator to check if "python" exists in a list.

In [74]:
subject=["c","c++","java","python","R","machine learing"]

if "python" in subject:
    print("python exists in the list")
else:
    print("python not exists in the list")

python exists in the list

### 30. Use the and operator in a condition.

In [75]:
a=20
b=50

if a>10 and b>40:
    print("both conditions are true..")
else:
    print("both conditions are false..")

both conditions are true..

### 31. Use the % operator to check if a number is divisible by 5.

In [1]:
number=25

if number%5==0:
    print("Number is divisible by 5")

else:
    print("Number is not divisible by 5")

Number is divisible by 5

### 32. Use the ** operator to calculate 2 raised to the power 5.

In [80]:
a=2

res=a**5

print(res)

32

### 33. Create two numbers and compare them using >=.

In [81]:
no1=40
no2=60

if no1>=no2:
    print("No1 is greater than No2")
else:
    print("No2 is greater than No1")

No2 is greater than No1

### 34. Create a list and remove the last element using pop().

In [84]:
lst=[2,4,6,8,10,12,14]

print(lst)

lst.pop()

# print(lst)

[2, 4, 6, 8, 10, 12, 14]

14

### 35. Create a list and print its first and last elements.

In [86]:
print(lst)

print("First elements:",lst[0])

print("Last elements:",lst[-1])

[2, 4, 6, 8, 10, 12]
First elements: 2
Last elements: 12

### 36. Count how many times "apple" appears in a list.

In [87]:
fruitt=["Apple","Banana","Apple","Kiwi","Papaya","Apple"]

print(fruitt)

fruitt.count("Apple")

['Apple', 'Banana', 'Apple', 'Kiwi', 'Papaya', 'Apple']

3

### 37. Create a tuple and check if a value exists using in.

In [88]:
tup1=("Apple","Banana","Apple","Kiwi","Papaya","Apple")

print(tup1)

print("Kiwi" in tup1)

('Apple', 'Banana', 'Apple', 'Kiwi', 'Papaya', 'Apple')
True

### 38. Convert a dictionaryâ€™s keys into a list.

In [90]:
dic3={"name":"John","age":22,"city":"UK"}

print(dic3)

Keys_lst=list(dic3.keys())

print(Keys_lst)

{'name': 'John', 'age': 22, 'city': 'UK'}
['name', 'age', 'city']

### 39. Create a nested dictionary for a student (name, marks, subjects).

In [91]:
student={"name":"Harry","marks":{
    "maths":80,
    "English":70,
    "Hindi":90}}

print(student)

{'name': 'Harry', 'marks': {'maths': 80, 'English': 70, 'Hindi': 90}}

### 40. Merge two dictionaries into one.

In [ ]:
dic4={"Name":"Apurva"}

dic5={"City":"Kolhapur"}


print(dic4)
print(dic5)
dic4.update(dic5)

print(dic4)

{'Name': 'Apurva'}
{'City': 'Kolhapur'}
{'Name': 'Apurva', 'City': 'Kolhapur'}

### 41. Create a set and print the number of elements.

In [98]:
st_1={23,5,22,88,11,43}

print(st_1)

len(st_1)

{5, 22, 23, 11, 88, 43}

6

### 42. Create a dictionary and print all items using items().

In [101]:
dic1={"Stud_name":"Apurva","Age":24,"Marks":90,"Subject":"Data science"}

print(dic1)


dic1.items()

{'Stud_name': 'Apurva', 'Age': 24, 'Marks': 90, 'Subject': 'Data science'}

dict_items([('Stud_name', 'Apurva'), ('Age', 24), ('Marks', 90), ('Subject', 'Data science')])

### 43. Create a list of numbers 1 to 10 and print the square of each one.

In [107]:
lst_1=[1,2,3,4,5,6,7,8,9,10]

print(lst_1)

for num in lst_1:
    print(f"Square of {num} :",num**2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Square of 1 : 1
Square of 2 : 4
Square of 3 : 9
Square of 4 : 16
Square of 5 : 25
Square of 6 : 36
Square of 7 : 49
Square of 8 : 64
Square of 9 : 81
Square of 10 : 100

### 44. Multiply two numbers and print the result using *.

In [108]:
num_1=20
num_2=40

print(num_1 * num_2)

800

### 45. Divide two numbers and print the results using / and //.

In [109]:
num1=10

num2=3

print("Division / :",num1 / num2)
print("Floor Division // :",num1 // num2)

Division / : 3.3333333333333335
Floor Division // : 3

### 46. Create a list and replace the element at index 1.

In [110]:
lst=[1,2,3,4,5]

print(lst)

lst[1]=100

print(lst)

[1, 2, 3, 4, 5]
[1, 100, 3, 4, 5]

### 47. Create a tuple from user input (3 values).

In [112]:
val1=input("Enter value 1 :")
val2=input("Enter value 2 :")
val3=input("Enter value 3 :")

my_tup=(val1,val2,val3)

print(my_tup)

('12', '14', '11')

### 48. Create a set from a string and print all unique characters.

In [114]:
str="Apurva"

print(str)

char=set(str)

print(char)

Apurva
{'a', 'r', 'v', 'p', 'A', 'u'}

### 49. Use the is operator to compare two variables.

In [116]:
a = [1, 2, 3]
b = a         # b points to the same object
c = [1, 2, 3] # c is a different object with same values

print(a is b)  # True
print(a is c)  # False

True
False

### 50. Create a dictionary and check if a key exists using in.

In [117]:
my_dict = {"name": "John", "age": 25, "city": "Delhi"}

print("age" in my_dict)

True

### 51. Write a program to check if a number is between 10 and 50 using and.

In [118]:
num = 30

if num >= 10 and num <= 50:
    print("The number is between 10 and 50")
else:
    print("The number is NOT between 10 and 50")

The number is between 10 and 50

### 52. Check if a number is less than 5 or greater than 20 using or.

In [120]:
num = 3

if num < 5 or num > 20:
    print("Condition True")
else:
    print("Condition False")

Condition True

### 53. Use not to check if a list is not empty.

In [121]:
my_list = [1, 2, 3]

if not not my_list:
    print("List is not empty")
else:
    print("List is empty")

List is not empty

### 54. Write code to check if a character is a vowel using or.

In [125]:
ch=input("Enter the character :")
str="aeiouAEIOU"

if ch in str:
    print("The character is a vowel")
else:
    print("The character is a not vowel")

The character is a not vowel

### 55. Check if a dictionary has both keys "name" and "age".

In [126]:
my_dict = {"name": "John", "age": 25, "city": "Delhi"}

if "name" in my_dict and "age" in my_dict:
    print("Both keys exist")
else:
    print("Keys missing")

Both keys exist

### 56. Verify if a set contains either 10 or 20.

In [127]:
my_set = {5, 10, 15}

print(10 in my_set or 20 in my_set)

True

### 57. Use not to check if a number is not equal to 100.

In [129]:
num = 45

if num != 100:
    print("Number is not 100")

Number is not 100

### 58. Write a condition to check if a student passed (marks > 35 and attendance > 75).

In [130]:
marks = 50
attendance = 80

if marks > 35 and attendance > 75:
    print("Student passed")
else:
    print("Student failed")

Student passed

### 59. Use logical operators to check if a number is positive and even.

In [135]:
num = int(input("Enter the number :")) 

if num > 0 and num % 2 == 0:
    print("Number is positive and even")
else:
    print("Number is not positive and even")

Number is positive and even

### 60. Check if a tuple has more than 3 elements or contains the value 0.

In [2]:
my_tuple = (1, 2, 3, 7, 9)

if len(my_tuple) > 3 or 0 in my_tuple:
    print("Tuple has more than 3 elements or contains 0")
else:
    print("Tuple has 3 or fewer elements and does not contain 0")

Tuple has more than 3 elements or contains 0