# Basic Dictionay Operations

1. Create a dictionary with 3 key-value pairs (name, age, city).

In [1]:
my_dic={"name":"Apurva","age":24,"city":"Kolhapur"}

print(my_dic)

{'name': 'Apurva', 'age': 24, 'city': 'Kolhapur'}

2. Create a dictionary and print the value of a specific key.

In [2]:
print(my_dic)

my_dic["name"]

{'name': 'Apurva', 'age': 24, 'city': 'Kolhapur'}

'Apurva'

3. Make a dictionary and add a new key-value pair to it.

In [5]:
dic={"car":"Audi"}

print(dic)

dic.update({"Model":"Q3"})

print(dic)

{'car': 'Audi'}
{'car': 'Audi', 'Model': 'Q3'}

4. Create a dictionary and change the value of an existing key.

In [6]:
my_dic={"name":"Apurva","age":24,"city":"Kolhapur"}

print(my_dic)

my_dic.update({"city":"Pune"})
print(my_dic)

{'name': 'Apurva', 'age': 24, 'city': 'Kolhapur'}
{'name': 'Apurva', 'age': 24, 'city': 'Pune'}

5. Create a dictionary and remove one key using pop().

In [8]:
dic1={"name":"Apurva","age":24,"city":"pune"}

print(dic1)

dic1.pop("age")

print(dic1)

{'name': 'Apurva', 'age': 24, 'city': 'pune'}
{'name': 'Apurva', 'city': 'pune'}

6. Create a dictionary and remove the last inserted item using popitem().

In [9]:
dic1={"name":"Apurva","age":24,"city":"pune"}

print(dic1)

dic1.popitem()

print(dic1)

{'name': 'Apurva', 'age': 24, 'city': 'pune'}
{'name': 'Apurva', 'age': 24}

7. Create a dictionary and print all the keys.

In [10]:
mydic={"Name":"Apurva","Marks":90,"Sub":"Data Science"}

print(mydic)

mydic.keys()

{'Name': 'Apurva', 'Marks': 90, 'Sub': 'Data Science'}

dict_keys(['Name', 'Marks', 'Sub'])

8. Create a dictionary and print all the values.

In [11]:
print(mydic)

mydic.values()

{'Name': 'Apurva', 'Marks': 90, 'Sub': 'Data Science'}

dict_values(['Apurva', 90, 'Data Science'])

9. Create a dictionary and print all the key-value items.

In [ ]:
print(mydic)

mydic.items()

{'Name': 'Apurva', 'Marks': 90, 'Sub': 'Data Science'}

dict_items([('Name', 'Apurva'), ('Marks', 90), ('Sub', 'Data Science')])

10. Make a dictionary and check the number of items using len().

In [13]:
print(mydic)

mydic.__len__()

{'Name': 'Apurva', 'Marks': 90, 'Sub': 'Data Science'}

3

11. Create a dictionary and check if a certain key exists (using "key" in dict).

In [17]:
print(mydic)

print(mydic.get("Marks"))

{'Name': 'Apurva', 'Marks': 90, 'Sub': 'Data Science'}
90

12. Create an empty dictionary and add two key-value pairs one by one.

In [18]:
dict1={}

dict1["name"]="Apurva"
dict1["Age"]=24

print(dict1)

{'name': 'Apurva', 'Age': 24}

13. Create a dictionary and update one keyâ€™s value using update().

In [19]:
print(dict1)

dict1.update({"City":"Pune"})

print(dict1)

{'name': 'Apurva', 'Age': 24}
{'name': 'Apurva', 'Age': 24, 'City': 'Pune'}

14. Create two dictionaries and combine them using update().

In [20]:
dic2={"Name":"John"}
dic3={"Mark":"90"}

dic2.update(dic3)

print(dic2)

{'Name': 'John', 'Mark': '90'}

15. Make a dictionary and get the value of a key using get().

In [21]:
print(dic2)

dic2.get("Name")

{'Name': 'John', 'Mark': '90'}

'John'

16. Create a dictionary and print its type using type().

In [23]:
print(type(dic2))

<class 'dict'>

17. Create a dictionary and replace one value with a new one.

In [24]:
my_dict1 = {"name": "John", "age": 25, "city": "Delhi"}

print(my_dict1)

my_dict1["age"] = 30
print(my_dict1)

{'name': 'John', 'age': 25, 'city': 'Delhi'}
{'name': 'John', 'age': 30, 'city': 'Delhi'}

18. Create a dictionary and clear all items using clear().

In [25]:
my_dict1 = {"name": "John", "age": 25, "city": "Delhi"}

my_dict1.clear()

print(my_dict1)

{}

19. Create a dictionary with numbers as keys and names as values. Print the dictionary.

In [26]:
num={1:"One",2:"Two",3:"three"}

print(num)

{1: 'One', 2: 'Two', 3: 'three'}

20. Create a dictionary and copy it into a new dictionary using copy().

In [28]:
num={1:"One",2:"Two",3:"three"}

print(num)
numbers=num.copy()

print(numbers)

{1: 'One', 2: 'Two', 3: 'three'}
{1: 'One', 2: 'Two', 3: 'three'}