### 1. Print numbers from 1 to 10 using a for loop

In [2]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### 2. Print all even numbers between 1 and 20 using a for loop

In [5]:
for i in range(1,21):
    if i % 2 ==0:
        print("Even number :",i)

Even number : 2
Even number : 4
Even number : 6
Even number : 8
Even number : 10
Even number : 12
Even number : 14
Even number : 16
Even number : 18
Even number : 20

### 3. Print each character of the string 'Python' using a for loop

In [1]:
str1="python"

for ch in str1:
    print(ch)

p
y
t
h
o
n

### 4. Print the squares of numbers from 1 to 5 using a for loop

In [9]:
for i in range(1,6):
    square = i ** 2
    print(f"Square of {i} is : {square}")

Square of 1 is : 1
Square of 2 is : 4
Square of 3 is : 9
Square of 4 is : 16
Square of 5 is : 25

### 5. Print all elements of a list using a for loop

In [10]:
lst=[1,2,3,4,5,6,7]

for i in lst:
    print(i)

1
2
3
4
5
6
7

### 6. Calculate the sum of numbers from 1 to 50 using a for loop

In [11]:
total_sum=0

for num in range(1, 51):
    total_sum += num

print("Sum of numbers from 1 to 50 is:", total_sum)

Sum of numbers from 1 to 50 is: 1275

### 7. Print numbers from 10 to 1 in reverse using a for loop

In [14]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

### 8. Print the multiplication table of 7 using a for loop

In [15]:
for i in range(1,11):
    print(7*i)

7
14
21
28
35
42
49
56
63
70

### 9. Count how many vowels are in the string 'education' using a for loop

In [16]:
string = "education"
vowels = "aeiou"
count = 0

for char in string:
    if char in vowels:
        count += 1

print("Number of vowels in 'education' is:", count)

Number of vowels in 'education' is: 5

### 10. Print all odd numbers from 1 to 30 using a for loop

In [18]:
for num in range(1,31):
    if num%2!=0:
        print("odd numbers",num)

odd numbers 1
odd numbers 3
odd numbers 5
odd numbers 7
odd numbers 9
odd numbers 11
odd numbers 13
odd numbers 15
odd numbers 17
odd numbers 19
odd numbers 21
odd numbers 23
odd numbers 25
odd numbers 27
odd numbers 29

### 11. Count how many uppercase letters are in a string using a for loop

In [19]:
str1="Hii My Name is Apurva Desai"
count=0

for ch in str1:
    if ch.isupper():
        count+=1

print("Number of Uppercase letters :",count)

Number of Uppercase letters : 5

### 12. Create a new list that contains only the positive numbers from another list

In [2]:
num=[-1,2,3,4,-5,-6,7,-8,9,10]

print("with negative numbers : ",num)
positive_num=[]

for n in num:
    if n>=0:
        positive_num.append(n)
print("positive numbers: ",positive_num)

with negative numbers :  [-1, 2, 3, 4, -5, -6, 7, -8, 9, 10]
positive numbers:  [2, 3, 4, 7, 9, 10]

### 13. Print numbers from 1 to 10 using a while loop

In [23]:
i=1

while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

### 14. Print all multiples of 5 up to 50 using a while loop

In [4]:
no=1
while no<=10:
    print(5*no)
    no+=1

5
10
15
20
25
30
35
40
45
50

### 15. Print numbers from 10 to 1 in reverse using a while loop

In [25]:
no=10

while no>=1:
    print(no)
    no-=1

10
9
8
7
6
5
4
3
2
1

### 16. Keep asking the user to enter numbers until the user enters 0

In [27]:
num=int(input("Enter the number: "))

while num!=0:
    num=int(input("Enter the number: "))
print("you entered zero...program stop..")

you entered zero...program stop..

### 17. Use a while loop to calculate the sum of the first 10 natural numbers

In [35]:
i = 1
total = 0

while i<=10:
    total+=i
    i+=1

print("Sum of first 10 natural numbers is :",total)

Sum of first 10 natural numbers is : 55

### 18. Given a dictionary of fruits and their prices, print all the keys using a for loop

In [36]:
fruits = {"Apple":100,"Banana":60,"Kiwi":200,"Papaya":80}

for key in fruits.keys():
    print(key)

Apple
Banana
Kiwi
Papaya

### 19. Given a dictionary of fruits and their prices, print all the values using a for loop

In [37]:
fruits = {"Apple":100,"Banana":60,"Kiwi":200,"Papaya":80}

for val in fruits.values():
    print(val)

100
60
200
80

### 20. Print both keys and values of a dictionary using a for loop

In [39]:
fruits = {"Apple":100,"Banana":60,"Kiwi":200,"Papaya":80}

for key,val in fruits.items():
    print(key,":",val)

Apple : 100
Banana : 60
Kiwi : 200
Papaya : 80

### 21. Count how many keys are in a dictionary using a for loop

In [40]:
fruits = {"Apple":100,"Banana":60,"Kiwi":200,"Papaya":80}
count=0
for key in fruits.keys():
    count+=1
print("Count of keys :",count)

Count of keys : 4

### 22. Create a dictionary and print only the keys that start with the letter 'a'

In [42]:
fruits = {"Apple":100,"Banana":60,"Kiwi":200,"Papaya":80}

for key in fruits.keys():
   if key.startswith("A"):
       print(key)

Apple

### 23. Given a dictionary of student names and marks, print only the students who scored more than 80

In [5]:
student={"Apurva":90,"Rohit":80,"Ajit":70,"Ridhi":85}

# print(student)

for name,marks in student.items():
    if marks > 80:
        print(name,":", marks)

Apurva : 90
Ridhi : 85

### 24. Given a dictionary, print the sum of all the values using a for loop

In [8]:
student={"Apurva":90,"Rohit":80,"Ajit":70,"Ridhi":85}
dicsum=0
for item in student.values():
    dicsum+=item
print(dicsum)

325

### 25. Given a dictionary, find the key with the highest value using a for loop

In [10]:
student={"Apurva":90,"Rohit":80,"Ajit":70,"Ridhi":85}
max="Apurva"

for key,val in student.items():
    if val>student[max]:
        max=key
student[max]

90

### 26. Convert all dictionary keys into a list using a for loop

In [71]:
student={"Apurva":90,"Rohit":80,"Ajit":70,"Ridhi":85}

lst=[k for k in student.keys()] 

print(lst)

['Apurva', 'Rohit', 'Ajit', 'Ridhi']

### 27. Create a dictionary of 5 words and their lengths, then print each word and its length using a for loop

In [72]:
stud={"Apurva":6,"Sumedh":6,"Ajinkya":7,"Aditi":5,"Siddhi":6}

for k,v in stud.items():
    print(k,":",v)

Apurva : 6
Sumedh : 6
Ajinkya : 7
Aditi : 5
Siddhi : 6

### 28. Given a list of numbers, print only numbers greater than 10

In [67]:
lst=[20,1,2,3,34,23,22,10,11,4,8,6,66]

ls=[i for i in lst if i>=10]
print(ls)

[20, 34, 23, 22, 10, 11, 66]

### 29. Count how many elements in a list are integers using a for loop

In [63]:
lst=[1,2,3,-4,5,"s",7,8,-9,"d",-10,11,12,-13,-14,-15]
count=0
for i in lst:
     if type(i)==int:
          count+=1
print(count)

14

### 30. Print the sum of all even numbers in a list using a for loop

In [51]:
lst=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
tot=0
for i in lst:
    if i%2==0:
        tot+=i
print(tot)

sum(i for i in lst if i%2==0)

56

56

### 31. Print the cube of each number in a list of 5 numbers

In [46]:
lst=[1,2,3,4,5]
ls=[i**3 for i in lst]
ls

[1, 8, 27, 64, 125]

### 32. Print each word in the sentence 'Python is fun' using a for loop

In [45]:
sent="Python is fun"
char=""
for word in sent:
    if word !=" ":
        char+=word
    else:
        print(char)
        char=""
print(char)

Python
is
fun

### 33. Print the first 5 multiples of 3 using a for loop

In [35]:
for i in range(1,6):
    i=i*3
    print(i)

3
6
9
12
15

### 34. Print only names that start with 'A' from a list of names

In [34]:
stud=["Apurva","Sumedh","Ajinkya","Aditi","Siddhi"]

for i in stud:
    if i.startswith("A"):
        print(i)

Apurva
Ajinkya
Aditi

### 35. Find the largest number in a list using a for loop

In [33]:
lst=[100,200,300,400,500]
max=0

for i in lst:
    if max<i:
        max=i
print(max)

500

### 36. Print the index and value of each element in a list

In [24]:
lst=[100,200,300,400,500]

for i in range(len(lst)):
    print(i,"-",lst[i])

0 - 100
1 - 200
2 - 300
3 - 400
4 - 500

### 37. Create a dictionary with 5 students and their marks

In [ ]:
stud={"Apurva":89,"Sumedh":90,"Ajinkya":88,"Aditi":82,"Siddhi":78}

print(stud)

{'Apurva': 89, 'Sumedh': 90, 'Ajinkya': 88, 'Aditi': 82, 'Siddhi': 78}

### 38. Use a for loop to print all student names

In [20]:
stud={"Apurva":89,"Sumedh":90,"Ajinkya":88,"Aditi":82,"Siddhi":78}

for key in stud.keys():
    print(key)

Apurva
Sumedh
Ajinkya
Aditi
Siddhi

### 39. Given a dictionary of fruits and prices, use a for loop to print each fruit and its price

In [19]:
f={"apple":100,"Banana":50,"papaya":60,"kiwi":200,"berry":80}

for k,v in f.items():
    print(k,":",v)

apple : 100
Banana : 50
papaya : 60
kiwi : 200
berry : 80

### 40. Create a dictionary of 5 products and their prices. Increase every product's price by 10% using a for loop

In [18]:
f={"apple":100,"Banana":50,"papaya":60,"kiwi":200,"berry":80}

for key in f.keys():
    f[key]=f[key]+(f[key]*0.1)

print(f)

{'apple': 110.0, 'Banana': 55.0, 'papaya': 66.0, 'kiwi': 220.0, 'berry': 88.0}

### 41. Given a dictionary of 10 items, delete all items whose value is less than 50 using a for loop

In [15]:
dic={i:i*10 for i in range(1,11)}
print(dic)

for i in list(dic.keys()):
    if dic[i]<50:
        dic.pop(i)
print(dic)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60, 7: 70, 8: 80, 9: 90, 10: 100}
{5: 50, 6: 60, 7: 70, 8: 80, 9: 90, 10: 100}

### 42. Create a dictionary of subjects and marks. Add a new subject and mark. Then use a for loop to print all updated keyâ€“value pairs

In [12]:
sub={"Marathi":80,"English":78,"Hindi":90}

sub["Science"]=89

for k,v in sub.items():
    print(k,":",v)

Marathi : 80
English : 78
Hindi : 90
Science : 89

### 43. Given a dictionary of names and ages, add 1 year to every age using a for loop

In [11]:
names={"Apurva":23,"Sumedh":25,"Ajinkya":24}

for key in names.keys():
    names[key]=names[key]+1
print(names)

{'Apurva': 24, 'Sumedh': 26, 'Ajinkya': 25}

### 44. Print numbers from 0 to 9 using range()

In [10]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

### 45. Print numbers from 5 to 15 using range()

In [8]:
for i in range(5,16):
    print(i)

5
6
7
8
9
10
11
12
13
14
15

### 46. Print numbers from 1 to 20 with a step of 2 using range()

In [7]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

### 47. Print the length of a given list using len()

In [6]:
lst=[10,20,30,40,50,60]
print(lst)

len(lst)

[10, 20, 30, 40, 50, 60]

6

### 48. Print the length of a given string using len()

In [4]:
string="I'm Apurva Desai"
print(string)

len(string)

I'm Apurva Desai

16

### 49. Use range() and len() to iterate over a list by index and print each element

In [2]:
lst=[1,2,3,4,5,6,7,8]

for i in range(len(lst)):
    print(lst[i])

1
2
3
4
5
6
7
8

### 50. Print the sum of numbers from 1 to 100 using range()

In [13]:
sum=0
for i in range(1,101):
    sum+=i
print(sum)

5050